@import "tailwindcss";
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

:root {
    /* --CSS-gradient: linear-gradient(
        90deg,
        rgba(252, 199, 55, 1) 0%,
        rgba(242, 107, 15, 1) 48%,
        rgba(231, 56, 121, 1) 70%
    ); */
    --CSS-gradient: linear-gradient(
        90deg,
        rgba(242, 133, 133, 1) 0%,
        rgba(255, 164, 71, 1) 48%,
        rgba(183, 229, 180, 1) 70%
    );
    /* --dark-background: linear-gradient(39deg,rgba(11, 25, 44, 1) 30%, rgba(0, 0, 0, 1) 70%); */
    --dark-background: linear-gradient(39deg,rgba(23, 24, 28, 1) 0%, rgba(13, 15, 18, 1) 50%, rgba(23, 24, 28, 1) 100%);
    --light-background: linear-gradient(39deg,rgba(251, 251, 251, 1) 0%, rgba(242, 249, 255, 1) 50%, rgba(251, 251, 251, 1) 100%);
}

.gradient-highlight {
    background: #fcc737;
    background: var(--CSS-gradient);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.darkBackground {
    background-color: linear-gradient(39deg, rgba(34, 40, 49, 1) 30%, rgba(57, 62, 70, 1) 71%);
}
